<% include corporate_header.html %>
<script type="text/javascript">
window.history.forward();
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;
        return true;
    }
    
    $(document).ready(function() {

        $('.close').click(function(event){
            console.log('close')
            $('#modal_add_new_card').modal('hide');
        });

        $('.close1').click(function(event){
            console.log('close')
            $('#modal_add_wallet').modal('hide');
        });

        $('#Card_number').keyup(function(event) {

            var Card_number = $('#Card_number').val();
      document.getElementById('Card_number').addEventListener('input', function (e) {
        e.target.value = e.target.value.replace(/[^\dA-Z]/g, '').replace(/(.{4})/g, '$1 ').trim();
            });

      if(Card_number.length == 2)
            {

                $.ajax({
                    type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/card_type', // the url where we want to POST  
                    data        :'Card_number='+Card_number, // our data object
                   datatype    :"json",
                   success:function(response){ 
                        $('#cvv').val('');
                        $('#cvv').attr("maxlength",response.code.size )  
                        document.getElementById('card_type').value=response.type;
                        $("#image").append("<img src='' style='position:absolute; margin-top:-20px;'/>");         
                    }
                })
            }
        });
        $('#add_card_plus').click(function(event){

            $('#Card_number').val('');
            $('#Exp_month').val('');
            $('#Exp_year').val('');
            $('#cvv').val('');
            $('.payment-errors').text('');
        });
        $('#add_wallet_plus').click(function(event){
            $('#amount').val('');
            $('#modal_add_wallet').modal('show');
        });
    });

    function movetoNext(current, nextFieldID) {
        if (current.value.length >= current.maxLength) {
        document.getElementById(nextFieldID).focus();
        }
    }
</script>

<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    
    // Stripe('<%= stripe_public_key %>');
    var stripe = Stripe('<%= stripe_public_key %>');
    var elements = stripe.elements();
    var cardElement = elements.create('card');
    

    function open_add_card_modal(){
        if(<%=payment_gateway_type%> == <%=PAYMENT_GATEWAY.stripe%>){
            cardElement.mount('#card-element');
            $('#modal_add_new_card').modal('show');
        } else {
            $("#add_card_plus").hide();
            $.ajax({
                type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url         : '/get_stripe_add_card_intent', // the url where we want to POST  
                data        : {payment_gateway_type: <%=PAYMENT_GATEWAY.paystack%>, is_web: true, type: 5, user_id: '<%=corporate_id%>'}, // our data object
                datatype    :"json",
                success:function(response){
                    if(response.success){
                        window.location.href = response.authorization_url;
                    } else {
                        $("#add_card_plus").show();
                    }
                }
            })
        }
    }

    $(function() {
        var $form = $('#payment-form');
        $form.submit(function(event) {
            event.preventDefault();
            $('#add_card_save').prop('disabled', true);
            $.ajax({
                type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url         : '/get_stripe_add_card_intent', // the url where we want to POST  
                data        : {}, // our data object
                datatype    :"json",
                success:function(response){
                    console.log(response)
                    stripe.handleCardSetup(
                      response.client_secret, cardElement, {
                        payment_method_data: {
                          billing_details: {
                            name: 'test'
                          }
                        }
                      }
                    ).then((result)=> {
                        $('#add_card_save').prop('disabled', false);
                      if (result.error) {
                        $form.find('.payment-errors').text(result.error.message);
                      } else {
                        $form.append($('<input type="hidden" name="payment_method">').val(result.setupIntent.payment_method));
                        $form.get(0).submit();
                        $('#modal_add_new_card').modal('hide');
                      }
                    });
                }
            });
        });

        $('#user_add_wallet_amount').submit(function(event){
            event.preventDefault();
            $('#add_wallet_save').prop('disabled', true);
            if(<%=payment_gateway_type%> == <%=PAYMENT_GATEWAY.stripe%>){
                $.ajax({
                    type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/get_stripe_payment_intent', // the url where we want to POST  
                    data        : {amount: $('#amount').val(), type: 5, user_id: '<%=corporate_id%>'}, // our data object
                    datatype    :"json",
                    success:function(response_data){
                        console.log(response_data)
                        if(response_data.success){
                            stripe.confirmCardPayment(
                                response_data.client_secret, {
                                    payment_method: response_data.payment_method
                                }
                            ).then((result)=> {
                                $('#add_wallet_save').prop("disabled", false);
                                if(result.paymentIntent){
                                    $('#user_add_wallet_amount').append($('<input type="hidden" name="payment_intent_id">').val(result.paymentIntent.id));
                                    $('#user_add_wallet_amount').get(0).submit();
                                } else {
                                    $('#user_add_wallet_amount').find('.payment-errors').text(result.error.message);
                                }
                            });
                        } else {
                            $('#add_wallet_save').prop("disabled", false);
                            if(response_data.error){
                                $('#user_add_wallet_amount').find('.payment-errors').text(response_data.error);
                                } else {
                                $('#user_add_wallet_amount').find('.payment-errors').text('Add Card First');
                            }
                        }
                    }
                });
            } else if(<%=payment_gateway_type%> == <%=PAYMENT_GATEWAY.paystack%>){
                $.ajax({
                    type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/get_stripe_payment_intent', // the url where we want to POST  
                    data        : {amount: $('#amount').val(), type: 5, payment_gateway_type: <%=PAYMENT_GATEWAY.paystack%>, token: '<%=token%>', user_id: '<%=corporate_id%>'}, // our data object
                    datatype    :"json",
                    success:function(response_data){
                        console.log(response_data)
                        if(response_data.success){
                            location.reload();
                        } else {
                            $('#modal_paystack_validation_form').find('.payment-errors').text('');
                            $('#add_wallet_save').prop("disabled", false);
                            if(response_data.error_message){
                                $('#user_add_wallet_amount').find('.payment-errors').text(response_data.error_message);
                                $('#add_wallet_error').css("display", "block");
                                $('#add_wallet_error_message').text(response_data.error_message);
                                setTimeout(()=>{
                                    $('#add_wallet_error').css("display", "none");
                                    $('#add_wallet_error_message').text('');
                                }, 5000);
                                $('#modal_add_wallet').modal('hide');
                            // } else if(response_data.url) {
                            //     window.location.href = response_data.url;
                            } else if(response_data.required_param) {

                                $('#modal_add_wallet').modal('hide');
                                $('#modal_paystack_validation').modal('show');
                                $('#send_pin').attr('required', false); 
                                $('#send_phone').attr('required', false); 
                                $('#send_otp').attr('required', false); 
                                $('#send_address').attr('required', false); 
                                $('#send_birthday').attr('required', false); 

                                $('#send_pin').hide();
                                $('#send_otp').hide();
                                $('#send_phone').hide();
                                $('#send_address').hide();
                                $('#send_birthday').hide();

                                $('#send_pin').val('');
                                $('#send_otp').val('');
                                $('#send_phone').val('');
                                $('#send_address').val('');
                                $('#send_birthday').val('');


                                $('#send_pin_title').hide();
                                $('#send_otp_title').hide();
                                $('#send_phone_title').hide();
                                $('#send_address_title').hide();
                                $('#send_birthday_title').hide();
                                $('#'+response_data.required_param).show();
                                $('#'+response_data.required_param).attr('required', true); 
                                $('#'+response_data.required_param+'_title').show();
                                $('#required_param').val(response_data.required_param)
                                $('#reference').val(response_data.reference)
                            } else {
                                $('#user_add_wallet_amount').find('.payment-errors').text('Add Card First');
                            }
                        }
                    }
                });
            } else {
                $('#add_wallet_save').prop("disabled", true);
                $.ajax({
                    type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                    url         : '/get_stripe_payment_intent', // the url where we want to POST  
                    data        : {amount: $('#amount').val(), is_web: true, type: 5, payment_gateway_type: <%=PAYMENT_GATEWAY.payu%>, token: '<%=token%>', user_id: '<%=corporate_id%>'}, // our data object
                    datatype    :"json",
                    success:function(response_data){
                        if(response_data.success){
                            $("body").append(response_data.html_form);
                            $('#myForm').submit();


                        } else {
                            $('#add_wallet_save').prop("disabled", false);
                            if(response_data.error){
                                $('#user_add_wallet_amount').find('.payment-errors').text(response_data.error);
                            } else {
                                $('#user_add_wallet_amount').find('.payment-errors').text('Add Card First');
                            }
                        }
                    }
                });
            }
        })

        $('#modal_paystack_validation_form').submit(function(event){
            event.preventDefault();
            $('#add_wallet_save_required_param').prop("disabled", true);
            $.ajax({
                type       : 'POST', // define the type of HTTP verb we want to use (POST for our form)
                url         : '/send_paystack_required_detail', // the url where we want to POST  
                data        : {amount: $('#amount').val(), type: 5, payment_gateway_type: <%=PAYMENT_GATEWAY.paystack%>, token: '<%=token%>', pin: $('#send_pin').val(), otp: $('#send_otp').val(), phone: $('#send_phone').val(), address: $('#send_address').val(), birthday: $('#send_birthday').val(), reference: $('#reference').val(), required_param: $('#required_param').val(), user_id: '<%=corporate_id%>'}, // our data object
                datatype    :"json",
                success:function(response_data){
                    if(response_data.success){
                        location.reload();
                    } else {
                        $('#add_wallet_save_required_param').prop("disabled", false);
                        $('#modal_paystack_validation_form').find('.payment-errors').text('');
                        if(response_data.error_message){
                            $('#modal_paystack_validation_form').find('.payment-errors').text(response_data.error_message);
                            $('#add_wallet_error').css("display", "block");
                            $('#add_wallet_error_message').text(response_data.error_message);
                            setTimeout(()=>{
                                $('#add_wallet_error').css("display", "none");
                                $('#add_wallet_error_message').text('');
                            }, 5000);
                            $('#modal_paystack_validation').modal('hide');
                        // } else if(response_data.url) {
                        //         window.location.href = response_data.url;
                        } else if(response_data.required_param) {
                            $('#send_pin').attr('required', false); 
                            $('#send_phone').attr('required', false); 
                            $('#send_otp').attr('required', false); 
                            $('#send_address').attr('required', false); 
                            $('#send_birthday').attr('required', false); 
                            $('#send_pin').hide();
                            $('#send_otp').hide();
                            $('#send_phone').hide();
                            $('#send_address').hide();
                            $('#send_birthday').hide();

                            $('#send_pin').val('');
                                $('#send_otp').val('');
                                $('#send_phone').val('');
                                $('#send_address').val('');
                                $('#send_birthday').val('');

                            $('#send_pin_title').hide();
                            $('#send_otp_title').hide();
                            $('#send_phone_title').hide();
                            $('#send_address_title').hide();
                            $('#send_birthday_title').hide();


                            $('#'+response_data.required_param).show();
                            $('#'+response_data.required_param).attr('required', true); 
                            $('#'+response_data.required_param+'_title').show();
                            $('#required_param').val(response_data.required_param)
                            $('#reference').val(response_data.reference)
                        } else {
                            $('#modal_paystack_validation_form').find('.payment-errors').text('Add Card First');
                        }
                    }
                }
            });
        });
    });

    function stripeResponseHandler(status, response) {
         
        var $form = $('#payment-form');
        if (response.error) { 

            $form.find('.payment-errors').text(response.error.message);
            $form.find('.submit').prop('disabled', false); // Re-enable submission
            $('#modal-dismiss').show();
        } 
        else { 
            var token = response.id;
            last_four = response.card.last4;
            
            $form.append($('<input type="hidden" name="payment_token">').val(token));
            $form.append($('<input type="hidden" name="last_four">').val(last_four));
            $form.get(0).submit();
            $('#modal_change_password').modal('hide');
        }
    };
    

        
</script>

<div class="page-content-wrap">
    <% if(typeof message != 'undefined'){ %>
              <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('button_close') %></span></button>
                <p align="center"><%= __(message) %></p>
              </div>
    <% } %>
    <div class="alert alert-success" id="add_wallet_error" role="alert" style="padding-top: 75px;margin-bottom: -135px;display: none">
          <p align="center"> <strong id="add_wallet_error_message"></strong></p>
    </div>
        
            <div class="panel panel-default">
                <div class="row">
                <div class="col-md-12">
                   <div class="panel-body"> 
                    
                    <div class="col-md-4">
                         <div class="panel panel-default">
                                <div class="panel-body">
                                    <h3><%= __('title_wallet_amount') %><a href="" data-toggle="modal" type="button" id="add_wallet_plus" class="fa fa-plus-circle pull-right" style="font-size: 30px;cursor: pointer;color: black;" ></a></h3>
                                    <div class="col-md-12">
                                        <h4><%= __('balance') %>: <%= (corporate_detail.wallet).toFixed(2) %>  <%= corporate_detail.wallet_currency_code %></h4>
                                    </div>
                                    
                                </div>
                         </div>
                        <%if(PAYMENT_TYPES && PAYMENT_TYPES[0] && PAYMENT_TYPES[0].is_add_card){%>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><%= __('title_selected_card') %></h3>         
                                    <ul class="panel-controls">
                                        <li><a href="" data-toggle="modal" type="button" id="add_card_plus" onclick="open_add_card_modal()" class="control-primary"  ><span class="fa fa-plus"></span></a></li>

                                    </ul>
                                </div>
                                <div class="panel-body list-group list-group-contacts">                                
                                   <% if(Selected_card != "") { %>
                                   <% Selected_card.forEach(function(data , index){ %>
                                    <a class="list-group-item"> 
                                        <span class="contacts-title"><%= __('title_card_number') %></span>
                                        <p>* * * * * * * * <%= data.last_four %></p>                                                                        
                                        <div class="list-group-controls">
                                             <img src="user_panel/images/select_tru.png" style="height:30px;width:30px;margin-bottom:12px">
                                    
                                            <span class="fa fa-times-circle-o" onclick="remove_card('<%= data._id %>')" style="font-size: 30px"></span>
                                         
                                           
                                        </div>                                    
                                    </a>  
                                    <% }); %>
                                    <% } %>
                                     <% if(Selected_card != "") { %>
                                     <% Other_card.forEach(function(data , index){ %>
                                     <a class="list-group-item" onclick="select_card('<%= data._id %>')"> 
                                        <span class="contacts-title"><%= __('title_card_number') %></span>
                                        <p>* * * * * * * * <%= data.last_four %></p>                                                                        
                                        <div class="list-group-controls">
                                            <span class="fa fa-times-circle-o" onclick="remove_card('<%= data._id %>')" style="font-size: 30px"></span>
                                         
                                        </div>                                    
                                    </a>  
                                    <% }); %>
                                    <% } %>
                                </div>
                            </div>
                        <% } %>

                    </div>
                       <div class="col-md-8">
                        <div class="page-content-wrap">
                            <div class="col-md-12">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <form class="form-horizontal" role="form" method="post" action="/corporate_payments">
                                    <div class="form-group">
                                      <input type="hidden" name="page" id="page" value="0" />
                                      <div class="col-md-6">
                                        <div style="text-align: center;">
                                          <label><%= __('title_sort') %></label>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                                            <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" placeholder="Select to Sort" name="sort_item">
                                              <option value='unique_id' selected="selected"><%= __('title_id') %></option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                                            <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" placeholder="Select to Sort" name="sort_item">
                                              <% if(sort_order == "1") { %>
                                              <option value="1" selected><%= __('sort_asc') %></option>
                                              <option value="-1"><%= __('sort_desc') %></option>
                                              <% } else{ %>
                                              <option value="1"><%= __('sort_asc') %></option>
                                              <option value="-1" selected><%= __('sort_desc') %></option>
                                              <% } %>
                                            </select>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6">
                                        <div style="text-align: center;">
                                          <label><%= __('title_search') %></label>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="input-group">
                                            <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                                            <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" id="sel" placeholder="Select to Sort" name="search_item">
                                              <option value='wallet_description' selected><%= __('title_description')%></option>
                                            </select>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="panel panel-default">
                                            <div class="panel-body panel-body-search">
                                              <div class="input-group">
                                                <span class="input-group-addon"><span class="fa fa-search"></span></span>
                                                <input type="text" class="form-control" value="<%= search_value %>" onkeypress="return alphaNumSpace(event);" name="search_value" placeholder="<%= __('title_search') %>" />
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>                          
                                    </div>
                                    <div class="col-md-9">
                                      <div class="col-md-12">
                                        <ul class="pagination">
                                          <% include paginate_lookup.html %>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                      <div class="col-md-12">
                                        <button type="submit" id="apply_filter" class="btn btn-primary" style="height: 35px; width: 100%;  "><span><%= __('button_apply') %></span></button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                           <div class="panel panel-default">
                               <div class="panel-body">
                                   <div class="table-responsive" style="padding-bottom: 175px;">
                                        <table class="table text-center" id="customers2">
                                            <thead>
                                                <tr>
                                                    <th><%= __('title_id') %></th>
                                                    <th><%= __('title_date') %></th>
                                                    <th><%= __('title_currency') %></th>
                                                    <th><%= __('title_wallet_amount') %></th>
                                                    <th><%= __('title_add_cut') %></th>
                                                    <th><%= __('title_wallet') %></th>
                                                    <th><%= __('title_wallet_description') %></th>
                                                </tr>
                                            </thead>
                                            
                                            <tbody>
                                                <% detail.forEach(function(data){ %>
                                                <tr>
                                                    <td><%= data.unique_id %></td>
                                                    <td><%= moment(data.created_at).tz(timezone_for_display_date).format("DD MMM 'YY") %></td>
                                                    <td><%= corporate_detail.wallet_currency_code %></td>
                                                    <td><%= data.wallet_amount %> </td>
                                                    <td><%= data.added_wallet %> </td>
                                                    <td><%= data.total_wallet_amount %> </td>
                                                    <td><%= data.wallet_description %> </td>

                                                </tr>
                                                <% }); %>
                                            </tbody>
                                        </table>
                                    </div> 
                                </div>
                            </div>                              
                    
                      </div>
                
                    </div>
                </div>
            </div>
            <% include colorbar.html %>

    </div>

<div class="modal animated fadeIn" data-backdrop="static" data-keyboard="false" id="modal_add_wallet" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="z-index:9999;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id='modal-dismiss' class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('button_close') %></span></button>
                <h4 class="modal-title" id="smallModalHead"><%= __('title_add_wallet') %></h4>
            </div>
            <form action="/corporate_add_wallet_amount" id="user_add_wallet_amount"  method="post">
                <% if(Selected_card != "") { %>
                <% Selected_card.forEach(function(data_new){ %>
                <input type="hidden" name="card_id" value="<%= data_new._id %>"/>
                <% }); %>
                <% } %>
                 <input type="hidden" name="type" value="5"/>
                 <input type="hidden" name="corporate_id" value="<%= corporate_id %>">

                <div class="modal-body form-horizontal">                        
                    <div class="form-group">
                        <div class="col-md-12" >
                            <input type="text"  placeholder="<%= __('title_amount') %>" onkeypress="return isNumberKey(event)" maxlength="19" data-stripe="number"  id="amount" class="form-control" autocomplete="off" required name="wallet"/>
                        </div>
                    </div>

                      
                </div>
                <span class="payment-errors" style="margin: 15px;"></span>
                <div class="modal-footer">
                    <input type="submit" id="add_wallet_save" class="submit btn btn-info" value="<%= __('button_submit') %>" />
                    
                </div>
            </form>
        </div>
    </div>
</div> 

<div class="modal animated fadeIn" data-backdrop="static" data-keyboard="false" id="modal_paystack_validation" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="z-index:9999;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id='modal-dismiss' class="close close1" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('button_close') %></span></button>

                <h4 class="modal-title" id="send_pin_title"><%= __('title_pin_title') %></h4>
                <h4 class="modal-title" id="send_otp_title"><%= __('title_otp_title') %></h4>
                <h4 class="modal-title" id="send_phone_title"><%= __('title_phone_title') %></h4>
                <h4 class="modal-title" id="send_address_title"><%= __('title_address_title') %></h4>
            </div>
            <form id="modal_paystack_validation_form">
                <input type="hidden" name="reference" id="reference">
                <input type="hidden" name="required_param" id="required_param">
                <div class="modal-body form-horizontal">                        
                    <div class="form-group">
                        <div class="col-md-12" >
                            <input type="text" minlength="4" maxlength="6" placeholder="<%= __('title_pin') %>" onkeypress="return isNumberKey(event)" required class="form-control" id="send_pin" autocomplete="off"  name="pin"/>
                            <input type="text" minlength="4" maxlength="6" placeholder="<%= __('title_otp') %>" onkeypress="return isNumberKey(event)"  required class="form-control" id="send_otp" autocomplete="off"  name="otp"/>
                            <input type="text" maxlength="12" placeholder="<%= __('title_phone') %>" onkeypress="return isNumberKey(event)"  required class="form-control" id="send_phone" autocomplete="off"  name="phone"/>
                            <input type="text" placeholder="<%= __('title_address') %>" class="form-control" id="send_address" autocomplete="off"  required name="address"/>
                        </div>
                    </div>                </div>
                <span class="payment-errors" style="margin: 15px;"></span>
                <div class="modal-footer">
                    <input type="submit" id="add_wallet_save_required_param" class="submit btn btn-info" value="<%= __('button_submit') %>" />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal animated fadeIn" data-backdrop="static" data-keyboard="false" id="modal_add_new_card" tabindex="-1" role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
    <div class="modal-dialog modal-sm" style="z-index:9999;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id='modal-dismiss' class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('button_close') %></span></button>
                <h4 class="modal-title" id="smallModalHead"><%= __('title_add_card') %></h4>
            </div>
            <form action="/corporate_add_card" id="payment-form" method="post">
                 <input type="hidden" name="type" value="5"/>

                <div class="modal-body form-horizontal">  
                    <div class="carddetail" id="carddetail" style="width: 100%;max-width: 1000px;">
                        <div id="card-element"></div>
                    </div>                        
                    <!-- <div class="form-group">
                        <div class="col-md-12" id="image">
                            <input type="hidden" name="card_type" id="card_type"/>
                            
                            <input type="text" onkeyup="movetoNext(this, 'Exp_month')" placeholder="<%= __('title_card_number') %>" onkeypress="return isNumberKey(event)" maxlength="19" data-stripe="number"  class="form-control" autocomplete="off" id="Card_number" name="Card_number" required/>
                        </div>
                    </div>

                    <div class="form-group">
                       
                        <div class="col-md-4">
                            <input type="text" data-stripe="exp_month" onkeyup="movetoNext(this, 'Exp_year')" onkeypress="return isNumberKey(event)" placeholder="MM" maxlength="2" class="form-control" id="Exp_month" name="Exp_month" required/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" onkeyup="movetoNext(this, 'cvv')" onkeypress="return isNumberKey(event)" data-stripe="exp_year" class="form-control" maxlength="2" id="Exp_year" placeholder="YY" name="Exp_year" required/>
                        </div>
                        <div class="col-md-4">
                            <input type="text" id="cvv" data-stripe="cvc" onkeypress="return isNumberKey(event)" class="form-control" maxlength="3" placeholder="CVV" name="cvv" required/>
                        </div>
                    </div>     -->
                </div>
                <span class="payment-errors" style="margin: 15px;"></span>
                <div class="modal-footer">
                    <input type="submit" id="add_card_save" class="submit btn btn-info" value="<%= __('button_submit') %>" />
                    
                </div>
            </form>
        </div>
    </div>
</div> 
<script type="text/javascript">
    
    
  $( function() {
     $('#dob').datepicker({
        format: 'dd-mm-yyyy'
    });
 });
  function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}

</script>  
<script type="text/javascript">
function remove_card(card_id) {
      $.ajax({
          type: 'POST',
          url: 'delete_corporate_card',
          data: {'card_id': card_id, 'is_default': 1, payment_gateway_type: '<%=payment_gateway_type%>'},
          dataType: "json",
          success: function (res) {
              location.reload();
          }
      });
  }
  function select_card(card_id) {
      $.ajax({
          type: 'POST',
          url: 'corporate_card_selection',
          data: {'card_id': card_id, payment_gateway_type: '<%=payment_gateway_type%>'},
          dataType: "json",
          success: function (res) {
              location.reload();
          }
      });
  }
</script>  
<script type="text/javascript">
   $(document).ready(function(){
        // alert('abc');
        // var myVar = setInterval(function(){ myTimer() }, 3000);
        function myTimer() {
            $.ajax({
                type: 'POST',
                url: '/get_bank_detail_corporate',
                data: { 'corporate_id': '<%=corporate_detail._id%>', payment_gateway_type: '<%=payment_gateway_type%>', 'token': '<%=corporate_detail.token%>'},
                dataType: "json",
                success: function(response){
                    if (response.success == false) {
                        
                    // clearInterval(myVar);
                    
                }else{

                    // alert(JSON.stringify(response));
                    // window.location.reload();
                    console.log(response.bankdetails);
                    $('#account_number').val(response.bankdetails.account_number);
                }
            },
            error: function() {
                // alert('error');
            }
        })
        }
        myTimer();
        $( "#bank_detail_add_form_corporate" ).submit(function(event) {
            event.preventDefault();

            var form = $('#bank_detail_add_form_corporate')[0];

            var data = new FormData(form);
            $.ajax({
                type: 'POST',
                enctype: 'multipart/form-data',
                url: '/add_bank_detail_corporate',
                dataType: "json",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 600000,
                success: function(response){
                  console.log(response)
                    if (response.error_code == 434) {
                        alert('Incorrect Password Try Again');
                    }else if (response.error_code == 601){
                        alert('Problem in Add bank detail Try Again');
                    }else if (response.success == true) {
                        location.reload();
                        alert('Detail Added Successfully');
                    }else{
                        alert(JSON.stringify(response.stripe_error+' Try Again'));
                    }
                },
                error: function() {
                }
            })
        });

        $( "#bank_detail_add_form_corporate1" ).submit(function(event) {
            event.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/delete_bank_detail_corporate',
                data: $('#bank_detail_add_form_corporate1').serialize(),
                dataType: "json",
                success: function(response){
                    if (response.success == false) {
                        console.log(false);
                        // alert(response.stripe_error);
                    }else{
                        alert('Deleted Successfully');

                        location.reload();
                    }
                },
                error: function() {
                // alert('error');
            }
        })
        });

        
    });
</script>
<% include footer_form.html %>