<% include corporate_header.html %>
    <div class="page-title">
        <h2><span class="fa fa-cogs"></span> <%= __('title_edit_profile') %></h2>
    </div>
    <!-- END PAGE TITLE -->

    <% if(typeof message != 'undefined'){ %>
       <div class="alert alert-success" role="alert">
          <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('title_close') %></span></button>
          <p align="center"> <strong><%= __(message) %></strong></p>
      </div>
      <% } %>

    <!-- PAGE CONTENT WRAPPER -->
    <div class="row">
    <div class="page-content-wrap">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <% if(detail){ %>
                <form class="form-horizontal" method="post" action="/corporate_customer_update">
                    <input type="hidden" class="form-control" value="<%= detail._id %>" name="id" />

                    <div class="panel panel-default">
                        <div class="panel-body form-group-separated">
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= __('title_branch') %></label>
                                <div class="col-md-9 col-xs-7">
                                    <% if(detail.company_details){ %>
                                        <input type="text" class="form-control" value="<%= detail.company_details.branch ? detail.company_details.branch : ''  %>" name="branch" id='branch' />
                                    <% }else{ %>
                                        <input type="text" class="form-control" name="branch" id='branch' />
                                    <% } %>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= __('title_city') %></label>
                                <div class="col-md-9 col-xs-7" id="">
                                    <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" data-live-search="true" name="city" id="city_name">
                                        
                                        <% city_list.forEach(function(city){ %>
                                        <% 
                                            if(detail.city != null){ 
                                                if(detail.city == city.cityname){ %>
                                                    <option selected><%= city.cityname %></option>
                                                <% } else { %>
                                                    <option><%= city.cityname %></option>
                                                <% } 
                                            } else { %>
                                            <option><%= city.cityname %></option>
                                                <% } %>
                                        <% }); %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-5 control-label"><%= __('title_notes') %></label>
                                <div class="col-md-9 col-xs-7">
                                    <% if(detail.company_details){ %>
                                        <textarea class="form-control" rows="5" name="notes" id="notes"><%= detail.company_details.notes && detail.company_details.notes != "" ? detail.company_details.notes : ''  %></textarea>
                                    <% }else{ %>
                                        <textarea class="form-control" rows="5" name="notes" id="notes"></textarea>
                                    <% } %>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12 col-xs-12">
                                    <button class="btn btn-primary btn-rounded pull-right" type="submit" name="submit" id="submit" value="submit"><%= __('button_save') %></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <% }; %>
        </div>
    </div>
    </div>
    <% include colorbar.html %>

    <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->

    <script type="text/javascript">
        function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
    return true;
}
$(document).ready(function() {
 $(".form-horizontal").validate({
   rules: {
     first_name: "required",
     last_name: "required",
    email: {
        required: true,
        email_regex: /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/,
        minlength: 12,
        maxlength: 64
    },
    phone: {
      required: true,
        minlength : <%= setting_detail.minimum_phone_number_length %>,
        maxlength : <%= setting_detail.maximum_phone_number_length %>,
      phone_regex: /^\(?([1-9]{1})\)?([0-9]*)$/
    },
    password: {
      minlength: 6,
      maxlength: 50
    }
   }
});

 var _URL = window.URL || window.webkitURL;
$("#profile_image").change(function(e) {
    validateImage($("#profile_image"),$("#profile_image_dimention"),this.files[0].type)
    var file, img;
    if ((file = this.files[0])) {
        img = new Image();

        var reader = new FileReader();

        reader.onload = function (e) {
            $('#profile_sel_img').attr('src', e.target.result);
        }

        reader.readAsDataURL(profile_image.files[0]);

        img.onload = function(e) {
            
        };
        img.src = _URL.createObjectURL(file);
    }
});

});

    </script>
    <% include footer_form.html %>