<% include header.html %>
<div class="page-content-wrap">
  <% if(typeof message != 'undefined'){ %>
  <div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('button_close') %></span></button>
    <p align="center"> <strong><%= __(message) %></strong></p>
  </div>
  <% } %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="post" action="/add_inbox_notification_form">
            <div class="col-md-4" style="text-align: center;">
            </div>
            <div class="col-md-4" style="text-align: center;">
              <button type="submit" class="btn btn-success btn-block"><span class="fa fa-plus"></span>Send New Notification</button>
            </div>
            <div class="col-md-4" style="text-align: center;">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="/inbox_notifications">
          <div class="form-group">
            <input type="hidden" name="page" id="page" value="0" />

            <div class="col-md-4">
              <div style="text-align: center;">
                <label><%= __('title_sort') %></label>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                  <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" placeholder="Select to Sort" name="sort_item">
                    <option value='unique_id' <%= sort_field=='unique_id' ? 'selected' : '' %>><%= __('title_id') %></option>
                    <option value='created_at' <%= sort_field=='created_at' ? 'selected' : '' %>><%= __('title_created_date') %></option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                  <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" placeholder="Select to Sort" name="sort_item">
                    <option value="1" <%= sort_order==1 ? 'selected' : '' %>><%= __('sort_asc') %></option>
                    <option value="-1" <%= sort_order==-1 ? 'selected' : '' %>><%= __('sort_desc') %></option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div style="text-align: center;">
                <label><%= __('title_search') %></label>
              </div>
              <div class="col-md-6">
                <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-sort"></span></span>
                  <select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" id="sel" placeholder="Select to Sort" name="search_item">
                    <option value='unique_id' <%= search_item=='unique_id' ? 'selected' : '' %>><%= __('title_id') %></option>
                    <option value='message' <%= search_item=='message' ? 'selected' : '' %>><%= __('title_name') %></option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body panel-body-search">
                    <div class="input-group">
                      <span class="input-group-addon"><span class="fa fa-search"></span></span>
                      <input type="text" class="form-control" value="<%= search_value %>" onkeypress="return alphaNumSpace(event);" name="search_value" placeholder="<%= __('title_search_text') %>" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div style="text-align: center;">
                <label><%= __('title_date_filter') %></label>
              </div>
              <div class="col-md-12">
                <div class="btn-group">
                  <div class="input-group">
                    <input type="text" class="form-control datepicker" value="<%= filter_start_date %>" placeholder="<%= __('title_start_date') %>" name="start_date" id="start_date" readonly />
                    <span class="input-group-addon add-on">-</span>
                    <input type="text" class="form-control datepicker" value="<%= filter_end_date %>" placeholder="<%= __('title_end_date') %>" name="end_date" id="end_date" readonly />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="col-md-12">
              <ul class="pagination">
                <% include paginate_lookup.html %>
              </ul>
            </div>
          </div>

          <div class="form-group col-md-4">
            <div class="col-md-6">
              <button type="submit" id="apply_filter" class="btn btn-primary" style="height: 35px; width: 100%;  "><span><%= __('button_apply') %></span></button>
            </div>
            <!-- <div class="col-md-6">
              <button class="btn btn-danger pull-right" type="button" style="height: 35px; width: 100%;" onClick="export_excel()"><i class="fa fa-download"></i><%= __('button_export_excel') %></button>
            </div> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="table-responsive" style="padding-bottom: 175px;">
        <table class="table text-center" id="customers2">
          <thead>
            <tr>
              <th><%= __('title_id') %></th>
              <th><%= __('title') %></th>
              <th><%= __('title_message') %></th>
              <th><%= __('title_type') %></th>
              <th><%= __('button_action') %></th>
            </tr>
          </thead>

          <tbody>
            <% detail.forEach(function(data){ %>
            <tr>
              <td><%= data.unique_id %></td>
              <td><%= data.title %></td>
              <td><%= data.message %></td>
              <td><%= data.type == constant_json.PARTNER_UNIQUE_NUMBER ?  __('title_partner') : __('title_corporate') %></td>
              <td>
                <div class="btn-group">
                  <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><%= __('button_action') %> <span class="caret"></span></a>
                  <ul class="dropdown-menu" style="right: 0 !important; left: unset;" role="menu">
                    <li>
                      <form method="post" class="remove_notification_form" action="/remove_inbox_notification">
                        <input type="hidden" name="id" value="<%= data._id %>" />
                        <input type="hidden" name="type" value="<%= data.type %>" />
                        <button type="submit" name="submit" class="btn btn-default" style="width:100%;"><%= __('button_delete') %> </button>
                      </form>
                    </li>
                  </ul>
                </div>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<% include colorbar.html %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.remove_notification_form').submit(function (event){
        if (window.confirm("Are you sure you want to DELETE this Notification ?")) {
            return true;
        } else {
            return false;
        }
    })

    $('#start_date').datepicker({
      format: 'yyyy-mm-dd',
      <% if(filter_end_date){ %>
      endDate: new Date("<%= filter_end_date %>")
      <% }else{ %>
      endDate: new Date(Date.now())
      <% } %>

    }).on("input change", function(e) {
      var end_date = $('#start_date').datepicker('getDate');
      end_date.setDate(end_date.getDate() + 1);
      $('#end_date').datepicker('setStartDate', end_date);
    });

    $('#end_date').datepicker({
      format: 'yyyy-mm-dd',
      endDate: new Date(Date.now()),
      <% if(filter_start_date){ %>
      startDate: new Date("<%= filter_start_date %>")
      <% } %>

    }).on("input change", function(e) {
      var start_date = $('#end_date').datepicker('getDate');
      start_date.setDate(start_date.getDate() - 1);
      $('#start_date').datepicker('setEndDate', start_date);
    });

  });

  function export_excel() {
    $.ajax({
      type: 'POST',
      url: '/generate_guest_token_excel',
      data: $('.form-horizontal').serialize(),
      dataType: "json",
      success: function(res) {
        window.open(res)
      }
    });
  }
</script>

<% include footer_list.html %>