<% include header.html %>
<style>
    .type-pdf{
        font-size: 41px; 
        color: #250e62; 
    }
</style>

<div class="page-content-wrap">

<% if(typeof message != 'undefined'){ %>
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only"><%= __('button_close') %></span></button>
    <p align="center"> <strong><%= __(message) %></strong></p>
</div>
<% } %> 

<div class="row">
    <div class="col-md-12">
        <!-- START SIMPLE DATATABLE -->
        <div class="panel panel-default">                                
            <div class="table-responsive" style="padding-bottom: 175px;">
            <table class="table">
                <thead>
                    <tr>
                        <th><%= __('title_name') %></th>
                        <th><%= __('title_expired_date') %></th>
                        <th><%= __('title_unique_code') %></th>
                        <th><%= __('title_document') %></th>
                        <th><%= __('button_action') %></th>
                    </tr>
                </thead>

                <tbody>
                    <% detail.forEach(function(data){ %>
                    <tr class="table-row">
                        <td><%= data.name %></td>

                        <% if(data.expired_date == null || data.expired_date == "" ) { %>
                        <td><%= __('title_no_expiry_date') %></td>
                        <% } else if(data.is_document_expired == false){ %>
                        <td><%= moment(data.expired_date).format("DD MMM 'YY") %></td>
                        <% } else {%>
                        <td>Expired</td>
                        <% } %>
                        
                        <% if(data.expired_date == null || data.expired_date == "" ) { %>
                            <td><%= __('title_no_unique_code') %></td>
                        <% } else{ %>
                            <td><%= data.unique_code %></td>
                        <% } %>
                        
                        <td><img class="type-img" src="<%= data.document_picture != '' ?  setting_detail.image_base_url + data.document_picture : 'default.png' %>" height=50 width=50>
                            <i class="fa fa fa-file-pdf-o type-pdf"></i>
                            <span class="doc_id" style="display: none;"><%= data._id %></span>
                        </td>
                        <td>
                            <div class="btn-group" style="margin-right:15px;">
                                <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><%= __('button_action') %> <span class="caret"></span></a>
                                <ul class="dropdown-menu" style="right: 0 !important; left: unset;" role="menu">
                                    <% if(data.document_picture !== ""){ %>
                                        <li>

                                            <form method="get" action="<%= data.document_picture  != '' ?  setting_detail.image_base_url + data.document_picture : setting_detail.image_base_url + 'default.png' %>">

                                                <button type="submit" class="btn btn-default" style="width:100%;"><%= __('button_view_download') %></button>
                                            </form>
                                        </li>
                                        <li>
                                            <button type="submit" 
                                                class="btn btn-default" 
                                                style="width:100%;"
                                                data-toggle="modal"
                                                data-target="#document_details_modal<%=data._id%>">
                                                <%= __('button_view_documents') %>
                                            </button>
                                        </li>
                                    <% } %>
                                    <li>
                                        <form method="post" action="/vehicle_documents_edit_partner">
                                            <input type="hidden" name="id" value="<%= data._id %>" />

                                            <button type="submit" class="btn btn-default" style="width:100%;"><%= __('title_edit_document') %></button>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <% if(data.document_picture !== ""){ %>
                                <div class="modal animated fadeIn" data-backdrop="static" data-keyboard="false" id="document_details_modal<%=data._id%>" tabindex="-1" role="dialog" aria-labelledby="document_details_modal<%=data._id%>" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" id="document_details_modal_close" class="close modal_close<%=data._id%>" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only"><%= config_json.button_close %></span></button>
                                          <h3 class="h_style"><b><%= __("button_view_documents") %></b></h3>                                                      
                                        </div>
                                        <div class="modal-body">
                                            <img id="doc_img<%=data._id%>"
                                            src="<%= setting_detail.image_base_url + data.document_picture %>" 
                                            height="100%" width="100%">
                                            <iframe src="" id="pdfIframe<%=data._id%>" style="height: 489px; width: 100%;"  ></iframe>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            <% } %>
                        </td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            </div>

        </div>
        <!-- END SIMPLE DATATABLE -->

    </div>
</div>                                

</div>
<!-- PAGE CONTENT WRAPPER -->                                
</div>    
<!-- END PAGE CONTENT -->
</div>
</div>
<!-- END PAGE CONTAINER --> 
<script>
    $(document).ready(function () {
        $('.table-row').each(function () {
            let imageLink = $(this).find('.type-img').attr('src');
            let id = $(this).find('.doc_id').text();

            if (imageLink.match(/\.(pdf)$/i) !== null){         
                let viewerUrl = "https://docs.google.com/viewer?url=" + encodeURIComponent(imageLink) + "&embedded=true";
                $('#pdfIframe'+id).attr('src', viewerUrl);
                $('#pdfIframe'+id).show()
                $('#doc_img'+id).hide()
                $(this).find('.type-pdf').show();
                $(this).find('.type-img').hide();
            } else {
                $('#pdfIframe'+id).hide()
                $('#doc_img'+id).show()
                $(this).find('.type-pdf').hide();
                $(this).find('.type-img').show();
            }
        });

    })

</script>

<% include footer_list.html %>