<!DOCTYPE html>
<style>
body {
    font-family: "LibreFranklinBlack", sans-serif !important;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
    font-size: 20px;
}

p{
    color: #0000009c;
}

.title{
    font-size: 19px;
    font-weight: 500;
    color: #18334d;
    margin-top: 36px;
}
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="web_images/favicons/FLETY_ICONOWEB.png" type="image/x-icon" />


</head>
<body>
    <div class="container">
        <p class="title">To delete you Flety provider account:</p>
            <p>1. Open the Flety Provider app.</p>
            <p>2. Tap on Profile tab and click on "Delete Account" button. (OR)</p>
            <p>3. Please reach out to hola@flety.io with your name, email ID, phone number and they will contact you regarding the deletion of your account.</p>

        <p class="title">Deleting your account will:</p>
            <p>1. Remove your profile and data from Flety services.</p>
            <p>2. Deactivate your account immediately with permanent deletion.</p>
            <p>3. Retain certain information as required by law.</p>
    </div>
</body>
</html>
