<% include partner_header.html %>  
<link href="css/fSelect.css"
rel="stylesheet" type="text/css" />
<script src="js/fSelect.js"
type="text/javascript"></script>    

	<!-- PAGE TITLE -->
	<div class="page-title">                    
		<!-- <h2><span class="fa fa-cogs"></span> <%= (typeof vehicle_detail != 'undefined') ? __('title_edit_vehicle') : __('title_add_vehicle') %></h2> -->
	</div>
	<!-- END PAGE TITLE -->                     
	
	<!-- PAGE CONTENT WRAPPER -->
	<div class="row">
		 
		<div class="page-content-wrap">
			<div class="col-md-6 col-sm-8 col-xs-12">
				<% if(typeof vehicle_detail != 'undefined'){ %>
				<form class="form-horizontal" method="post" action="/partner_update_vehicle_details" enctype="multipart/form-data">
					<div class="panel panel-default">
						<div class="panel-body form-group-separated">
							
							<div class="form-group">
								<input type="hidden"  class="form-control" value="<%= partner_id %>" name="partner_id"/>
								<input type="hidden"  class="form-control" value="<%= vehicle_detail._id %>" name="vehicle_id"/>
								<input type="hidden"  class="form-control" value="<%= vehicle_detail.service_type %>" name="citytype_id" id="citytype_id"/>
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_name') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text"  class="form-control" value="<%= vehicle_detail.name %>" name="name"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_service_type') %></label>
								<div class="col-md-9" id="error">                                        
									<select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" data-live-search="true" name="service_type" id="service_type">
										<option selected disabled hidden style='display: none'><%= __('title_select_service_type') %></option>


										<% type_available.forEach(function(service_type){ %>
											<% 
											if(vehicle_detail.admin_type_id != null){
												if(vehicle_detail.admin_type_id.equals(service_type.typeid)){ %>
													<option value="<%= service_type.typeid %>" selected><%= service_type.type_detail.typename %></option>
												<% } else { %>
													<option value="<%= service_type.typeid %>"><%= service_type.type_detail.typename %></option>
												<% } 
											} else { %>
												<option value="<%= service_type.typeid %>"><%= service_type.type_detail.typename %></option>
												<% } %>
										<% }); %>
									</select>
								</div>
							</div>
							<div class="form-group" id="model_select">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_select_model') %></label>
								<div class="col-md-9" id="error">                                        
									<select class="form-control select" multiple="multiple" data-none-selected-text="<%= __('title_nothing_selected') %>" data-live-search="true" name="selected_model_id[]" id="selected_model_id">
										<optgroup id="append1" label='<%= __('title_model_list') %>'>

											<% type_available.forEach(function(service_type){ %>
											<%if(vehicle_detail.admin_type_id && vehicle_detail.admin_type_id.equals(service_type.typeid)){ %>
													<% service_type.type_model_details.forEach(function(type_model){ %>
														<%if(vehicle_detail.selected_model_id.length > 0){%>
															<% if(vehicle_detail.selected_model_id.findIndex(e => e._id.toString() === type_model._id.toString()) != -1){ %>
																<option value="<%= type_model._id %>" selected><%= type_model.model_name %></option>
															<% } else { %>
																<option value="<%= type_model._id %>"><%= type_model.model_name %></option>
															<% }  %>
														<% } else { %>
															<option value="<%= type_model._id %>"><%= type_model.model_name %></option>
														<% } %>
													<% }); %>
												<% }%>
										<% }); %>
									</optgroup>

									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_select_service') %></label>
								<div class="col-md-9" id="error">         
									<select   multiple="multiple"  name="selected_services_id[]" id="selected_services_id">
										<optgroup id="append" label='<%= __('title_service_list') %>'>

										<% type_available.forEach(function(service_type){ %>
											<%if(vehicle_detail.admin_type_id && vehicle_detail.admin_type_id.equals(service_type.typeid)){ %>
													<% service_type.type_service_details.forEach(function(type_service){ %>
														<%if(vehicle_detail.selected_services_id.length > 0){%>
															<% if(vehicle_detail.selected_services_id.findIndex(e => e._id.toString() === type_service._id.toString()) != -1){ %>
																<option value="<%= type_service._id %>" selected><%= type_service.service_name %></option>
															<% } else { %>
																<option value="<%= type_service._id %>"><%= type_service.service_name %></option>
															<% }  %>
														<% } else { %>
															<option value="<%= type_service._id %>"><%= type_service.service_name %></option>
														<% } %>
													<% }); %>
												<% }%>
										<% }); %>
									</optgroup>

									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_select_capacity') %></label>
								<div class="col-md-9" id="error">                                        
									<select class="form-control select" multiple="multiple" data-none-selected-text="<%= __('title_nothing_selected') %>" data-live-search="true" name="selected_capacity_id[]" id="selected_capacity_id">
										<optgroup id="append2" label='<%= __('title_capacity_list') %>'>
										<% type_available.forEach(function(service_type){ %>
											<%if(vehicle_detail.admin_type_id && vehicle_detail.admin_type_id.equals(service_type.typeid)){ %>
													<% service_type.type_capacity_details.forEach(function(type_capacity){ %>
														<%if(vehicle_detail.selected_capacity_id.length > 0){%>
															<% if(vehicle_detail.selected_capacity_id.findIndex(e => e._id.toString() === type_capacity._id.toString()) != -1){ %>
																<option value="<%= type_capacity._id %>" selected><%= type_capacity.capacity_name %> <%if(type_capacity.unit == 0 ){ %> Kilos <%}else if(type_capacity.unit == 1){%>Litre<%}else if(type_capacity.unit == 2) {%>m3<%}%> </option>
															<% } else { %>
																<option value="<%= type_capacity._id %>"><%= type_capacity.capacity_name %> <%if(type_capacity.unit == 0 ){ %> Kilos <%}else if(type_capacity.unit == 1){%>Litre<%}else if(type_capacity.unit == 2) {%>m3<%}%> </option>
															<% }  %>
														<% } else { %>
															<option value="<%= type_capacity._id %>"><%= type_capacity.capacity_name %> <%if(type_capacity.unit == 0 ){ %> Kilos <%}else if(type_capacity.unit == 1){%>Litre<%}else if(type_capacity.unit == 2) {%>m3<%}%> </option>
														<% } %>
													<% }); %>
												<% }%>
										<% }); %>
									</optgroup>

									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_plate_no') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text"  class="form-control" onkeypress="return alphaNumUppercase(event);" value="<%= vehicle_detail.plate_no %>" id="plate_no" name="plate_no"/>
									<div id="plate_error"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_color') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text"  class="form-control" value="<%= vehicle_detail.color %>" name="color"/>
								</div>
							</div> 
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_passing_year') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text" class="form-control" value="<%= vehicle_detail.passing_year %>" name="passing_year"/>
								</div>
							</div> 
							<div class="form-group">
 								<label class="col-md-3 col-xs-5 control-label"><%= __('title_marca_de_camion') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text" class="form-control" value="<%= vehicle_detail.marca %>" name="marca"/>
								</div>
							</div> 
						<div class="form-group">
							<label class="col-md-3 col-xs-5 control-label">
								<%= __('refrigerated') %>
							</label>
							<div class="col-md-9 col-xs-7">
								<label class="check">
									<input type="checkbox" name="hasDevicesTemperature" class="icheckbox"
										<%=vehicle_detail.hasDevicesTemperature ? 'checked' : '' %> />
								</label>
							</div>
						</div>
												<div class="form-group" id="payment">
													<label class="col-md-3 col-xs-5 control-label"><%= __('title_accessibility') %></label>
													<div class="col-md-9 col-xs-7">
														<% vehicle_accesibility.forEach(function(data) { %>
															
													<% if(vehicle_detail.accessibility != undefined && vehicle_detail.accessibility.length>0){ %>
													<%  if(vehicle_detail.accessibility.indexOf(data.ID.replace('_',' ')) == -1) { %> 
													<div class="col-md-12 col-xs-12 col-sm-12">  
															<label class="check"><input type="checkbox"  id="<%=data.ID%>" value="<%=data.ID%>" name="accessibility[]" class="icheckbox"/> <%= __(data.NAME) %></label>
										
														</div>
													<% }else {%> 
													<div class="col-md-12 col-xs-12 col-sm-12">  
															<label class="check"><input type="checkbox" checked id="<%=data.ID%>" value="<%=data.ID%>" name="accessibility[]" class="icheckbox"/> <%= __(data.NAME) %></label>
										
														</div>
													<%  } %>
													
													<%  } else {%>
													
													<div class="col-md-12 col-xs-12 col-sm-12">  
															<label class="check"><input type="checkbox"  id="<%=data.ID%>" value="<%=data.ID%>" name="accessibility[]" class="icheckbox"/> <%= __(data.NAME) %></label>
										
													</div>
													
														<%  } %>
														<% }); %>
													</div>
												</div>
																	
							<div class="form-group">
								<div class="col-md-12 col-xs-12">
									<button class="btn btn-primary btn-rounded pull-right" type="submit" name="submit" value="submit" id="update"><%= __('button_save') %></button>
								</div>
							</div>
						</div>
					</div>
				</form>
						
						
						<% }else {%>
						
						<form class="form-horizontal" method="post" action="/partner_add_vehicle_details" enctype="multipart/form-data">
					<div class="panel panel-default">
						<div class="panel-body form-group-separated">
							
							<div class="form-group">
								<input type="hidden"  class="form-control" value="<%= partner_id %>" name="partner_id"/>
								<input type="hidden"  class="form-control" value="" name="citytype_id" id="citytype_id"/>

								<label class="col-md-3 col-xs-5 control-label"><%= __('title_name') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text"  class="form-control" value="" name="name"/>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_service_type') %></label>
								<div class="col-md-9" id="error">                                        
									<select class="form-control select" data-none-selected-text="<%= __('title_nothing_selected') %>" data-live-search="true" name="service_type" id="service_type">
										<option selected disabled hidden style='display: none'><%= __('title_select_service_type') %></option>
										<% type_available.forEach(function(service_type){ %>
										<option value="<%= service_type.typeid %>"><%= service_type.type_detail.typename %></option>
										<% }); %>
									</select>
								</div>
							</div>
							<div class="form-group" id="model_select">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_select_model') %></label>
								<div class="col-md-9 model_class" id="error">                                        
									<select multiple="multiple" name="selected_model_id[]" id="selected_model_id">
										<optgroup id="append1" label='<%= __('title_model_list') %>'>
										</optgroup>
						
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_select_service') %></label>
								<div class="col-md-9 service_class" id="error">                                        
									<select multiple="multiple" name="selected_services_id[]" id="selected_services_id">
										<optgroup id="append" label='<%= __('title_service_list') %>'>
										</optgroup>
						
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_select_capacity') %></label>
								<div class="col-md-9 capacity_class" id="error">                                        
									<select multiple="multiple" name="selected_capacity_id[]" id="selected_capacity_id">
										<optgroup id="append2" label='<%= __('title_capacity_list') %>'>
										</optgroup>
						
									</select>

								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_plate_no') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text"  class="form-control" id="plate_no" onkeypress="return alphaNumUppercase(event);" value="" name="plate_no"/>
									<div id="plate_error"></div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_color') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text"  class="form-control" value="" name="color"/>
								</div>
							</div> 
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_passing_year') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text" class="form-control" value="" name="passing_year"/>
								</div>
							</div> 
							<div class="form-group">
								<label class="col-md-3 col-xs-5 control-label"><%= __('title_marca_de_camion') %></label>
								<div class="col-md-9 col-xs-7">
									<input type="text" class="form-control" value="" name="marca"/>
								</div>
							</div> 
						<div class="form-group">
							<label class="col-md-3 col-xs-5 control-label">
								<%= __('refrigerated') %>
							</label>
							<div class="col-md-9 col-xs-7">
								<label class="check">
									<input type="checkbox" name="hasDevicesTemperature" class="icheckbox" />
								</label>
							</div>
						</div>
												
												<div class="form-group" id="payment">
													<label class="col-md-3 col-xs-5 control-label"><%= __('title_accessibility') %></label>
													<div class="col-md-9 col-xs-7">

														<% vehicle_accesibility.forEach(function(data) { %>
														<div class="">  
															<label class="check"><input type="checkbox"  id="<%=data.ID%>" value="<%=data.ID%>" name="accessibility[]" class="icheckbox"/> <%= __(data.NAME) %></label>
														</div>
														<% }); %>

													</div>
												</div>
																	
							<div class="form-group">
								<div class="col-md-12 col-xs-12">
									<button class="btn btn-primary btn-rounded pull-right" type="submit" name="submit" value="submit" id="update"><%= __('button_save') %></button>
								</div>
							</div>
						</div>
					</div>
				</form>
						
						<% }%>
						
						
			</div>
		</div>
	</div>
	<% include colorbar.html %>

	<!-- END PAGE CONTENT WRAPPER -->                                                 
</div>            
<!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER -->
<script type="text/javascript">
function isNumberKey(evt){
    var charCode = (evt.which) ? evt.which : event.keyCode
    if (charCode > 31 && (charCode < 48 || charCode > 57))
    {
        return false;
    }
    return true;
}
$(document).ready(function() {
	let types = <%-JSON.stringify(type_available)%>
	let vehicle = <%- JSON.stringify(vehicle_detail || {}) %>;
	if(vehicle){
		let index = types.findIndex(x => (x.typeid).toString() == vehicle.admin_type_id);
		if(index != -1 && (types[index]?.model_type == '<%= MODEL_TRUCK_TYPE.CHUTO %>' || types[index]?.model_type == '<%= MODEL_TRUCK_TYPE.CABEZAL %>')){
			$("#model_select").hide();  
		}
	}
    $("#plate_no").change(function() {
      var value = this.value;
      $("#submit").attr("disabled", true);
      $.ajax({
        type: 'POST',
        url: '/check_plate_no_available',
        data: 'plate_no=' + value,
        dataType: "json",
        success: function(res) {
          if (res.success) {
			  $("#plate_error").html('');
		} else {
			  $("#plate_no").val("")
			  $("#plate_error").html('<font color="red">Plate No. Already Used</font>');
          }
        }
      });
    });

	$('#selected_services_id').fSelect({
        placeholder: '<%= __("title_select_service")%>',
        numDisplayed: 3,
        overflowText: '{n} selected',
        searchText: '<%= __("title_search_text")%>',
        showSearch: true
    });

	$('#selected_model_id').fSelect({
        placeholder: '<%= __("title_select_model")%>',
        numDisplayed: 3,
        overflowText: '{n} selected',
        searchText: '<%= __("title_search_text")%>',
        showSearch: true
    });

	$("#selected_capacity_id").fSelect({
        placeholder: '<%= __("title_select_capacity")%>',
        numDisplayed: 3,
        overflowText: '{n} selected',
        searchText: '<%= __("title_search_text")%>',
        showSearch: true
    });

 	$(".form-horizontal").validate({
 		ignore:[],
	   	rules: {
	     	name: "required",
	     	plate_no: {
		        required: true,
				maxlength: 7
		    },
	     	model: "required",
	     	color: "required",
		    service_type:{
		        required: true
		    }
		}
	});
	$(".form-horizontal").submit(()=>{
		if($(".form-horizontal").validate().errorList == 0){
			document.getElementById("cover-spin").style.display = "block";
		}
	})
        
        $('#is_payment_mode_card').change(function (e) {

            if(this.value==1)
            {
                $("#payment").css("display", "block");
            }
            else
            {
                $("#payment").css("display", "none");
            }

        });

        $('#service_type').change(function () {
            let index = types.findIndex(x => (x.typeid).toString() == this.value);
			let citytype_id = types[index]._id
			
			$('#citytype_id').val(citytype_id);

			let models = types[index].type_model_details
			let services = types[index].type_service_details
			let capacites = types[index].type_capacity_details
			$("#append1").empty();  
		var model_opt = $('.fs-optgroup').eq(0);
		model_opt.empty();
		for (let i=0; i < models.length; i ++)
		{
			var model_name = models[i].model_name;
			var model_id = models[i]._id;
			
			$("#append1").append("<option value="+ model_id +">"+model_name+"</option>");
			model_opt.append(" <div class='fs-option' data-value=" + model_id + " data-index=" + model_id + "><span class='fs-checkbox'><i></i></span><div class='fs-option-label'>" + model_name + "</div></div>");
			//$('#cityid').fSelect();
		}
		$('#selected_model_id').fSelect({
			placeholder: '<%= __("title_select_city")%>',
			numDisplayed: 3,
			overflowText: '{n} selected',
			searchText: '<%= __("title_search_text")%>',
			showSearch: true
		});
		$("#model_select").show();  
		console.log({model_type: types[index]?.model_type})
		if(types[index]?.model_type == '<%= MODEL_TRUCK_TYPE.CHUTO %>' || types[index]?.model_type == '<%= MODEL_TRUCK_TYPE.CABEZAL %>'){
			$("#model_select").hide();  
		}
		
		$("#append").empty();  
		var service_opt = $('.fs-optgroup').eq(1);
		service_opt.empty();
		for (let i=0; i < services.length; i ++)
		{
			var service_name = services[i].service_name;
			var services_id = services[i]._id;

			$("#append").append("<option value="+ services_id +">"+service_name+"</option>");
			service_opt.append(" <div class='fs-option' data-value=" + services_id + " data-index=" + services_id + "><span class='fs-checkbox'><i></i></span><div class='fs-option-label'>" + service_name + "</div></div>");
			//$('#cityid').fSelect();
		}

		$('#selected_services_id').fSelect({
			placeholder: '<%= __("title_select_city")%>',
			numDisplayed: 3,
			overflowText: '{n} selected',
			searchText: '<%= __("title_search_text")%>',
			showSearch: true
		});

		var capacity_opt = $('.fs-optgroup').eq(2);
		$("#append2").empty();  
		capacity_opt.empty();
		for (let i=0; i < capacites.length; i ++)
		{
			var capacity_name = capacites[i].capacity_name;
			var capacity_id = capacites[i]._id;
			let capacity_unit = ""
			if(capacites[i].unit == 0 ){capacity_unit = "Kilos"}else if(capacites[i].unit == 1){capacity_unit = "Litre"}else if(capacites[i].unit == 2){capacity_unit = "m3"}

			$("#append2").append("<option value="+ capacity_id +">"+capacity_name+"</option>");
			capacity_opt.append(" <div class='fs-option' data-value=" + capacity_id + " data-index=" + capacity_id + "><span class='fs-checkbox'><i></i></span><div class='fs-option-label'>" + capacity_name +" "+ capacity_unit+"</div></div>");
			//$('#cityid').fSelect();
		}
		$('#selected_capacity_id').fSelect({
			placeholder: '<%= __("title_select_city")%>',
			numDisplayed: 3,
			overflowText: '{n} selected',
			searchText: '<%= __("title_search_text")%>',
			showSearch: true
		});


})
var _URL = window.URL || window.webkitURL;

});

</script>
<% include footer_list.html %>