<!DOCTYPE html>
<html lang="en">

<head>
<!-- META SECTION -->
    <title>
        <%= setting_detail.partner_panel_name %>
    </title>
    <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
    <script type='text/javascript' src='js/plugins/icheck/icheck.min.js'></script>
    <script type="text/javascript" src="js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type='text/javascript' src='js/plugins/jquery-validation/jquery.validate.js'></script>
    <script type="text/javascript" src="js/actions.js"></script>
    <script type="text/javascript" src="js/validation.js"></script>
    <style type="text/css" media="screen">
        @media screen and (max-width: 500px)  {
        .page-container .page-content .page-content-wrap{
            padding-top: 65px !important;
        }   }
    </style>
     <style>
        #cover-spin {
            position:fixed;
            width:100%;
            left:0;right:0;top:0;bottom:0;
            background-color: rgba(0,0,0,0.2);
            z-index:9999;
            display:none;
        }

        @-webkit-keyframes spin {
            from {-webkit-transform:rotate(0deg);}
            to {-webkit-transform:rotate(360deg);}
        }

        @keyframes spin {
            from {transform:rotate(0deg);}
            to {transform:rotate(360deg);}
        }

        #cover-spin::after {
            content:'';
            display:block;
            position:absolute;
            left:50%;top:50%;
            width:40px;height:40px;
            border-style:solid;
            border-color:black;
            border-top-color:transparent;
            border-width: 4px;
            border-radius:50%;
            -webkit-animation: spin .8s linear infinite;
            animation: spin .8s linear infinite;
        }

        .x-navigation button,a{
            word-break: break-all;
            overflow: hidden !important;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .x-navigation a{
            padding-right: 1rem!important;
        }

        .x-navigation button:hover,.x-navigation a:hover{
            overflow: visible; 
            white-space: normal;
            height:auto;  /* just added this line */
            padding-right: 1rem!important;
        }

        .x-navigation-minimized a{
            overflow: unset !important;
        }
        #inbox-icon{
            position: relative;
            font-size: 37px;
        }
        .notificationBadge {
            position: absolute;
            top: 10px;
            right: -8px;
            background-color: #00BFB3;
            color: white;
            border-radius: 50%;
            padding: 3px 6px;
            font-size: 13px;
            font-weight: bold;
            line-height: 1;
            border: 1px solid #aed5ff;
        }    

    </style>
    <script type="text/javascript">
        $(document).ready(function(){
            var path = window.location.pathname;
            var value = path.split('/');
            $('#'+value[1]).addClass('active');
            var page_title = $('#'+value[1]).text();
            $('#page_title').text(page_title);
            $.ajax({
                type: 'POST',
                url: '/session_data',
                data: {'type': 'partner'},
                dataType: "json",
                success:function(response){
                    $('#partner_pending_requests').hide();
                    if(response.session_data.country == "Panama"){
                        $('#partner_pending_requests').show();
                    }
                    $('option[value=' + response.cookies + ']').attr('selected',true);
                    $('.profile-data-name').html(response.session_data.partner_company_name);
                    $('#partner_profile').attr('src', response.session_data.picture != '' ? "<%=setting_detail.image_base_url %>"+response.session_data.picture : 'default.png');
                    if ('Notification' in window) {
                        Notification.requestPermission().then(function(permission) {
                        console.log('Notification permission:', permission);
                        });
                    }
                    const advertise_urls = <%- JSON.stringify(setting_detail.advertise_urls) %>;
                    const advertise_data = advertise_urls.find(obj => obj.country_id.toString() === response.session_data.country_id.toString());

                    let advertise_url = "";
                    if (advertise_data) {
                        advertise_url = advertise_data.flety_partner_ads_url;
                        $('#web_advertise').attr('src', "<%=setting_detail.image_base_url %>" + advertise_url);
                    }

                    if ('serviceWorker' in navigator && 'PushManager' in window) {
                        navigator.serviceWorker.register('js/serviceWorker.js').then(function(registration) {
                        console.log({scope: registration.scope});
                        
                        // Subscribe to push notifications
                            registration.pushManager.subscribe({
                                userVisibleOnly: true,
                                applicationServerKey: urlBase64ToUint8Array('<%= setting_detail.webpush_public_key %>')
                            }).then(function(subscription) {
                                // Send the subscription information to the server using AJAX
                                saveSubscriptionInUser(subscription, response.session_data._id);
                            }).catch(function(error) {
                                console.error('Push subscription error:', error);
                            });
                        });
                    }

                }
            });

            $("#languageId").change(function () {
                    $.ajax({
                        type: 'POST',
                        url: '/change_language',
                        data: { 'language': this.value },
                        dataType: "json",
                        success: function (response) {
                            console.log(response)
                            window.location.reload();
                        }
                    })
                });

            $.ajax({
                type: 'POST',
                url: '/get_inbox_notifications_list',
                data: { 'type': '<%= constant_json.PARTNER_UNIQUE_NUMBER %>' },
                dataType: "json",
                success:function(response){
                    let mass_notifications =  response?.notifications || []
                    let unreadCount = mass_notifications.filter(notification => !notification.is_read).length;
                    $('.notificationBadge').text(unreadCount);
                }
            })

                function saveSubscriptionInUser(subscription, id) {
                    // Send the subscription data to the server using AJAX
                    $.ajax({
                        url: 'update_webpush_config',
                        method: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({id, type:"<%= constant_json.PARTNER_UNIQUE_NUMBER %>", subscription: subscription }),
                        success: function(response) {
                        // console.log('Subscription sent to server successfully:', response);
                        },
                        error: function(error) {
                        console.error('Error sending subscription to server:', error);
                        }
                    });
                }
                function urlBase64ToUint8Array(base64String) {
                    const padding = '='.repeat((4 - base64String.length % 4) % 4);
                    const base64 = (base64String + padding)
                        .replace(/-/g, '+')
                        .replace(/_/g, '/');
                    const rawData = window.atob(base64);
                    const outputArray = new Uint8Array(rawData.length);
                    for (let i = 0; i < rawData.length; ++i) {
                        outputArray[i] = rawData.charCodeAt(i);
                    }
                    return outputArray;
                }


        });
    </script>

    <% include header_title.html %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="web_images/favicons/FLETY_ICONOTRANSPORTISTA.png" type="image/x-icon" />
    <!-- END META SECTION -->

    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" href="css/theme-default.css" />
    <link rel="stylesheet" type="text/css" href="css/map.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />

    <!-- EOF CSS INCLUDE -->

</head>

<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">
        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li>
                        <a style="text-align: center; margin-bottom: 4px;">
                        </a>

                    <a href="#" class="x-navigation-control"></a>
                </li>

                <li class="xn-profile">

                    <div class="profile">

                        <div class="profile-image">
                            <img id="partner_profile">
                        </div>

                        <div class="profile-data">
                            <div class="profile-data-name">
                            </div>
                            <!---<div class="profile-data-title">Web Developer/Designer</div>-->
                        </div>

                    </div>
                    

                
                </li>

                <ul id="menu-item">
                    <!--<li class="xn-title">Navigation</li>-->

                    
                    <li id="profile">
                        <a href="/profile"><span><i class="fa fa-users"></i></span> <span class="xn-text"><%= __('menu_title_profile') %></span></a>
                    </li>
                    <li id="partner_statistics">
                        <a href="/partner_statistics"><span><i class="fa fa-line-chart"></i></span> <span class="xn-text"><%= __('menu_title_statistics') %></span></a>
                    </li>
                    <li id="partner_map_view">
                        <a href="/partner_map_view"><span><i class="fa fa-map-marker"></i></span> <span class="xn-text"><%= __('menu_title_map_view') %></span></a>
                    </li>

                    <li id="partner_providers">
                        <a href="/partner_providers"><span class="fa fa-user-plus"></span> <span class="xn-text"><%= __('menu_title_providers') %></span></a>
                    </li>
                    <li id="partner_helpers">
                        <a href="/partner_helpers"><span class="fa fa-user-plus"></span> <span class="xn-text"><%= __('menu_title_helpers') %></span></a>
                    </li>
                    <li id="partner_incoming_requests">
                        <a href="/partner_incoming_requests"><span><i class="fa fa-paper-plane"></i></span> <span class="xn-text"><%= __('menu_title_incoming_request') %></span></a>
                    </li>
                    <li id="partner_requests">
                        <a href="/partner_requests"><span><i class="fa fa-paper-plane"></i></span> <span class="xn-text"><%= __('sub_menu_title_running_requests') %></span></a>
                    </li>                    
                    <li id="partner_history">
                        <a href="/partner_history"><span><i class="fa fa-calendar"></i></span> <span class="xn-text"><%= __('sub_menu_title_completed_requests') %></span></a>
                    </li>
                    <li id="partner_pending_requests">
                        <a href="/partner_pending_requests"><span><i class="fa fa-paper-plane"></i></span> <span class="xn-text"><%= __('sub_menu_title_pending_requests') %></span></a>
                    </li>

                    <li id="partner_vehicle">
                        <a href="/partner_vehicle"><span class="fa fa-car"></span> <span class="xn-text"><%= __('menu_title_manage_vehicle') %></span></a>
                    </li>
                    
                    

                    <li id="partner_sign_out">
                        <a href="/partner_sign_out"><span class="fa fa-power-off"></span> <span class="xn-text"><%= __('button_logout') %></span></a>
                    </li>

                </ul>
                <div style="text-align: center;">
                    <img src="logo_corporate.png" alt="" style="width: 77%;">    
                </div>

            </ul>
            <!-- END X-NAVIGATION -->
        </div>

        <!-- END PAGE SIDEBAR -->


        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel" style="">

                <li style="text-align: center;width: 65%;">
                    <a href="#" class="mb-control pagination-centered"> <span id="page_title" class="mb-control pagination-centered"></span></a>
                </li>
                <li style="text-align: center; padding-right: 10%; ">
                    <div class="form-group">                                       
                        <select class="form-control" data-live-search="true" id="languageId">
                            <option selected disabled hidden style='display: none' >Select Language..</option>
                            <option value="<%= LANGUAGES.spanish %>">Español</option>
                            <option value="<%= LANGUAGES.english %>">Inglés</option>
                    </select>
                    </div>
                </li>
                <li id="inbox-icon" onclick="show_notification_popup('<%= constant_json.PARTNER_UNIQUE_NUMBER %>')" style="color: white; top: -11px;">
                        <div class="form-group">                                       
                        <i class="fa fa-envelope " ></i>
                        <span class="notificationBadge"></span>
                    </div>
                    </li>


            </ul>
            <% include notification_popup.html%>
            
            <div id="cover-spin"></div>
